*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5),url(/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 90%;
    max-width: 600px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #ffffff;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    outline: none;
    background: transparent;
    color: #fff;
    width: 100%;
    border: 1px solid #ffffff;
    cursor: pointer;
}

input:focus~label,input:valid~label,textarea:focus~label,textarea:valid~label{ 
    /*  It moves the label on top and the valid ensure it stays there when their is text*/
    top: -35px;
    font-size: 14px;
}
